<!doctype html>
<html>
  <head>
    <title>Google API Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <style>
            #map{
              height:800px;
              width:500px;
            }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <textarea type="text" id="query"></textarea>
    <button id="search">Search</button>

    <p><a href="" id="url" target="_blank">Click for result!</a></p>
    <script>
        function initMap(){
          // Map options
          var options = {
            zoom:17,
            center:{lat:-6.8909,lng:107.6105}
          }
          // New map
          var map = new google.maps.Map(document.getElementById('map'), options);
          var points = []
          // Listen for click on map
          google.maps.event.addListener(map, 'click', function(event){
            // Add marker
            addMarker({coords:event.latLng}, points);
            document.getElementById("query").innerHTML = points;
          });
    
          // Add Marker Function
          function addMarker(props, list){
            list.push(props.coords);
            var marker = new google.maps.Marker({
              position:props.coords,
              map:map,
            });
          }
        }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1mfNCMMsONkubGOCkM64a1PzGDwEiNaA&callback=initMap">
    </script>
  </body>
</html>